@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
a{
    text-decoration: none !important; 
}
.back{
    /* background: rgb(31, 197, 202); */
    background-size: 100%;
    height: 100vh;
}
.backprofile{
    background-image: url(images/backprofile.png);
    background-size: 100%;
    height: 100vh;
}
.bg-azure{
    background: azure;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.123);
}
.color-red{
    color:rgb(255, 102, 105);
}
input[type="email"],input[type="text"]{
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.582) !important;
}
.shadow_1{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
}
.home-page{
    background-color: azure;
    border-radius: 12px;
}
.img-section{
    flex-basis: 45%;
}
.img-section img{
    width: 125%;
}
/* .continr{
    gap: 25px;
} */
.oper-buttons{
    gap: 25px;
}
.oper-buttons a , .oper-buttons input{
    font-size: 15px;
    color: white;
    padding: 4px 25px;
    background-color: rgb(255, 102, 105);
    border-radius: 25px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.123);
    border:none;
}
.signup input{
    height: 35px;
}
.signup label{
    font-size: 13px;
}
.fs-7{
    font-size: 12px;
}
.p{
    margin: 0 !important;
}
.eye-btn{
    border: none;
    background: transparent;
    color: rgb(0, 155, 245);
    font-size: 19px;
}
.profile-img-modal{
    width: 100px;
    border-radius: 50%;
}
.show-profile h5{
    font-size: 16px;
}
textarea {
    width: 100%;
    outline: none;
    margin-bottom: 15px;
    padding: 6px 10px;
    color: rgb(41, 41, 41);
    font-size: 14px;
}
.error_style{
    font-size: 12px;
    color: rgb(255, 52, 93);
}
.error{
    border: 1px solid red;
}
.seccess{
    border: 1px solid rgb(5, 187, 44);
}
.shadow_1{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.274);
}
::-webkit-scrollbar{
    width: 0;
}
.profile ul li{
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 15px;
    margin-left: 8px;
}
.profile ul li a , .profile ul li button{
    color: white;
    font-size: 15px;
    
}
.profile ul li:hover{
    background-color: rgb(255, 102, 105);
}

